.page-about {
  h1 {
    color: black;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: unset;
    margin: 0;
  }

  header {
    background-color: var(--color-primary);
    z-index: 2006;
    border-bottom: unset;
  }

  header a,
  header p {
    color: var(--color-white);
  }

  header a:hover {
    color: var(--color-white);
  }

  main p {
    margin-top: 5rem;
  }

  .overlay {
    height: calc(100vh - 77.8px);
    position: absolute;
    z-index: 2001;
    background-color: rgba(12, 12, 12, 0.514);
    width: 100%;
  }

  .hero-section {
    display: flex;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 77.8px);
    background-color: var(--color-black);

    // @include respond(tab-port) {
    //   display: inline-block;
    //   width: 100%;
    //   height: 100vh;
    // }

    .header-box {
      position: relative;
      width: 100%;
      z-index: 2002;
      height: auto;
      margin: auto;

      span {
        font-size: 6rem;
        background-color: rgba(255, 255, 255, 0.7);
        padding-left: 10px;
        padding-right: 10px;
        cursor: default;

        &#h1 {
          font-size: 8rem;
          font-weight: bold;
          @include respond(tab-port) {
            font-size: 6em;
          }
          @include respond(phone) {
            font-size: 6em;
          }
        }

        @include respond(tab-port) {
          font-size: 4em;
        }
        @include respond(phone) {
          font-size: 4em;
        }
      }

      .play-button {
        position: relative;
        margin: auto;
        z-index: 2003;
      }

      // button {
      //   font-size: 3rem;
      //   font-family: "BioRhyme", serif;
      //   background-color: var(--color-tertiary);
      //   border: none;
      //   margin-top: 10px;
      //   padding: 10px;
      //   border-radius: 50px;
      //   cursor: pointer;
      //   @include respond(tab-port) {
      //     font-size: 3rem;
      //   }
      // }
    }

    // svg {
    //   display: none;
    //   position: absolute;
    //   z-index: 0;
    //   width: 50vw;
    //   height: 100vh;
    //   left: 0;
    //   @include respond(tab-port) {
    //     width: 100vw;
    //   }
    // }
  }
  // .video-container {
  //   width: 80%;
  //   // height: 100vh;
  //   // padding: 20px;
  // }

  // .video-player-container {
  //   position: relative;
  //   width: 100%;
  //   height: 0;
  //   padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  // }

  // /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  // .video-player-container iframe {
  //   position: absolute;
  //   border-radius: 10px;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  // }

  .grid {
    grid-area: 1 / 1 / 2 / 2;
    width: 100vw;
    height: 80vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1vw;
    position: absolute;
    top: calc(22.5px * 2 + 41.6px);
    left: 0;
    right: 0;
  }

  .grid__item {
    background-size: cover;
    background-position: center;
    opacity: 0;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    // -webkit-filter: brightness(0.7);
    // filter: brightness(0.7);

    &--a {
      grid-area: 1 / 1 / 4 / 4;
    }

    &--b {
      grid-area: 6 / 2 / 9 / 5;
    }

    &--c {
      grid-area: 3 / 4 / 7 / 7;
    }

    &--d {
      grid-area: 1 / 6 / 4 / 9;
    }

    &--e {
      grid-area: 7 / 10 / 9 / 13;
    }

    &--f {
      grid-area: 5 / 7 / 8 / 10;
    }

    &--g {
      grid-area: 2 / 10 / 5 / 13;
    }
  }

  // .grid::after {
  //   content: "";
  //   height: 6rem;
  //   width: 1px;
  //   background: #fff;
  //   position: absolute;
  //   bottom: 2rem;
  //   left: 50%;
  // }

  .layers {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: 2005;
    pointer-events: none;
    left: 0;
    right: 0;

    .layers__item {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: translate3d(0, 101%, 0);

      &-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        transform: translate3d(0, -101%, 0);
      }
    }
  }

  .about-section {
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--color-primary);
    @include respond(phone) {
      height: 70vh;
    }

    .sub-line {
      background-color: var(--color-white);
    }

    .header-box {
      width: 50%;
      margin: auto;
      opacity: 0;
      transform: translateY(100%);

      h1,
      p {
        color: var(--color-white);
      }

      // h1 {
      //   font-size: 5rem;
      //   @include respond(phone) {
      //     font-size: 4rem;
      //   }
      // }
      // p {
      //   font-size: 3rem;
      //   @include respond(phone) {
      //     font-size: 2.5rem;
      //   }
      // }

      @include respond(phone) {
        width: 80%;
      }
    }
  }

  .team-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    .header-box {
      h1 {
        color: var(--color-primary);
        font-size: 4rem;
        margin: 30px;
        margin-bottom: 0;
      }
      .sub-line {
        margin-bottom: 30px;
      }
    }

    .project-heads-section {
      .sub-title {
        color: var(--color-primary);
        margin-bottom: 30px;
      }
    }

    .project-heads-card-container {
      display: flex;
      justify-content: space-around;
      flex-flow: wrap;
      text-align: center;
      justify-content: center;

      @media only screen and (max-width: 1370px) {
        width: 70%;
      }

      @include respond (tab-port) {
        width: 60%;
      }

      @include respond (phone) {
        width: 90%;
      }

      .card-wrapper {
        margin: 20px 20px;
        // flex: 0 1 21%;
        .card {
          margin-bottom: 20px;
        }

        @include respond(phone) {
          margin: 20px auto;
        }
      }
    }

    .committees-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;

      .committee-item {
        width: 50%;
        @include respond (phone) {
          width: 90%;
        }

        .card-wrapper {
          margin: 20px 20px;
          width: fit-content;
          .card {
            margin-bottom: 20px;
          }
  
          @include respond(phone) {
            margin: 20px auto;
          }
        }
      }
    }
  }
}
