.page-about {
  h1 {
    color: black;
  }

  main {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: unset;
  }

  header {
    background-color: rgb(5, 143, 5);
    // border-bottom: unset;
  }

  header a,
  header p {
    color: var(--color-grey-light-1);
    // color: green;
  }

  header a:hover {
    color: var(--color-grey-dark-1);
    // color: green;
  }

  main p {
    margin-top: 5rem;
  }

  .video-section {
    display: flex;
    align-items: center;
    height: calc(100vh - 86.6px - 22.5px);
    // background-color: rgb(232, 248, 232);

    @include respond(tab-port) {
      display: inline-block;
      width: 100%;
      height: 100vh;
    }

    .header-box {
      position: relative;
      width: 100%;
      z-index: 1;
      height: auto;
      margin: auto auto auto 40px;

      @include respond(phone) {
        margin: auto auto auto 10px;
      }

      span {
        font-size: 3em;
        // background-color: rgba(133, 255, 133, 0.7);
        padding-left: 10px;
        padding-right: 10px;
        @include respond(tab-port) {
          font-size: 2em;
        }
        @include respond(phone) {
          font-size: 2em;
        }
      }

      h1 {
        font-size: 5em;
        font-weight: bold;
        // background-color:  rgba(0, 255, 0, 0.7);
        padding-left: 10px;
        padding-right: 10px;
        max-width: fit-content;
        @include respond(tab-port) {
          font-size: 4em;
        }
        @include respond(phone) {
          font-size: 3em;
        }
      }
    }

    svg {
      display: none;
      position: absolute;
      z-index: 0;
      width: 50vw;
      height: 100vh;
      left: 0;
      @include respond(tab-port) {
        width: 100vw;
      }
    }
  }

  .video-container {
    display: none;
    width: 50%;
    margin: auto auto auto auto;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  .video-player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  }

  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  .video-player-container iframe {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .about-section {
    height: 100vh;
    background-color: white;
  }

  .project-heads-section {
    height: 100vh;

    .project-heads-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
