.page-about {
  h1 {
    color: #28df99;
  }

  main {
    text-align: center;
  }

  header {
    background-color: #28df99;
  }

  header a,
  header p {
    color: var(--color-grey-light-1);
  }

  header a:hover {
    color: var(--color-grey-dark-1);
  }

  main p {
    margin-top: 5rem;
  }

  div .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
  }
  
  /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  div .video-section {
    background-color: white;
  }
}
