.page-clusters {
  main {
    display: flex;
    flex-direction: column;
    padding: unset;
    margin: 0;
  }

  .hero {
    //   background-image:url('');
    display: flex;
    text-align: center;
    justify-content: center;
    // height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-bottom: 64px;

    div {
      margin-top: 15px;
      height: 60px;
      padding: 25px;
      z-index: 20;
      .main-title {
        font-size: 4.5rem !important;
      }
    }
  }

  .cluster-list {
    padding: 64px;
    .cluster-container {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        font-size: 1.5rem;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }

  .cluster-links {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 64px;
    padding-bottom: 64px;
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: none;
      padding: 48px;
      .grid-item{
        padding: 15px;
        margin: 1rem;
        background-image:
          linear-gradient(to bottom,
          #d2f0daa6 0%,
          #d2f0daa6 100%),
          linear-gradient(to bottom,
          #90CB92A6 0%,
          #90CB92A6 100%);
        background-clip: content-box, padding-box;
        text-decoration: none;
        p.cluster-title{
          padding: 15px;
          transition: letter-spacing 0.5s ease-in-out;
          font-size: 2.5rem;
        }
        p.cluster-subtitle{
          font-size: 2rem;
          padding-bottom: 15px;
        }
      }
      .grid-item:hover{
        p.cluster-title{
          letter-spacing: 10px;
        }
      }
    }
    
    @media only screen and (max-width: $bp-medium) {
      .grid-container {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        .grid-item {
          div {
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .event-button {
                display: block !important;
                width: 20vh;
                color: var(--color-primary);
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.page-projects {
  h1 {
    color: var(--color-yellow);
  }

  // main h2 {
  //   color: var(--color-grey-dark-1);
  //   background: var(--color-yellow);
  //   padding: 10rem 2rem;
  // }

  // main h2:hover {
  //   color: var(--color-white);
  //   //background-color: var(--color-black);
  //   @include blue-gradient;
  //   transform: translateY(-0.6rem);
  //   box-shadow: var(--shadow-dark);
  //   transition: all 0.2s;
  // }

  .project-card {
    color: var(--color-grey-dark-1);
    background: var(--color-yellow);
    padding: 10rem 2rem;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: var(--color-white);
      //background-color: var(--color-black);
      @include blue-gradient;
      transform: translateY(-0.6rem);
      box-shadow: var(--shadow-dark);
      transition: all 0.2s;
    }
  }
  header {
    background-color: var(--color-yellow);
  }

  a {
    text-decoration: none;
    font-family: BioRhyme, sans-serif;
  }

  main li {
    list-style-type: none;
    margin-top: 2rem;
  }
}
