.page-cluster {
    .organization-header {
        text-align: center;

        color: var($--color-white);
        background-color: var($--color-primary);
    }

    .organization-list {
        
    }
}
