.page-clusters {
  main {
    display: flex;
    flex-direction: column;
    padding: unset;
    margin: 0;
  }

  .hero {
    //   background-image:url('');
    display: flex;
    text-align: center;
    justify-content: center;
    // height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-bottom: 64px;

    div {
      margin-top: 15px;
      height: 60px;
      padding: 25px;
      z-index: 20;
      .main-title {
        font-size: 4.5rem !important;
      }
    }
  }

  .cluster-list {
    padding: 64px;
    .cluster-container {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        font-size: 1.5rem;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }

  .cluster-links {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: none;
      padding: 48px;
    }
    .grid-item {
      color: var(--color-primary);
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;

      font-size: 30px;
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1000px;
      transition: 0.3s ease-in-out;

      cursor: pointer;
      a {
        text-decoration: none;
      }
      div {
        background: linear-gradient(
          0deg,
          rgba(255, 0, 150, 0.3),
          rgba(255, 0, 150, 0.3)
        );
        padding: 15px;

        p {
          background: rgba(255, 255, 255, 0.7);
          padding: 15px;
          // letter-spacing: 5px !important;
          transition: 0.3s ease-in-out;
        }

        // width: 100%;
        // height: 100%;
      }
    }
    .grid-item:hover,
    .grid-item:active {
      background-size: 620px;
      p {
        letter-spacing: 10px !important;
      }
    }
    @media only screen and (max-width: $bp-small) {
      .grid-container {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

.page-projects {
  h1 {
    color: var(--color-yellow);
  }

  // main h2 {
  //   color: var(--color-grey-dark-1);
  //   background: var(--color-yellow);
  //   padding: 10rem 2rem;
  // }

  // main h2:hover {
  //   color: var(--color-white);
  //   //background-color: var(--color-black);
  //   @include blue-gradient;
  //   transform: translateY(-0.6rem);
  //   box-shadow: var(--shadow-dark);
  //   transition: all 0.2s;
  // }

  .project-card {
    color: var(--color-grey-dark-1);
    background: var(--color-yellow);
    padding: 10rem 2rem;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: var(--color-white);
      //background-color: var(--color-black);
      @include blue-gradient;
      transform: translateY(-0.6rem);
      box-shadow: var(--shadow-dark);
      transition: all 0.2s;
    }
  }
  header {
    background-color: var(--color-yellow);
  }

  a {
    text-decoration: none;
    font-family: BioRhyme, sans-serif;
  }

  main li {
    list-style-type: none;
    margin-top: 2rem;
  }
}
