.page-cluster {
    .landing-image {
        height: 30vh;
    }
    
    .organization-header {
        text-align: center;

        background-color: var(--color-primary);

        .main-header {
            font-weight: 600;
            color: var(--color-white);
        }
    }

    .organization-list {
        .list {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 33% 33% 33%;

            @include respond(phone) {
                grid-template-columns: 50% 50%;
            }

            .item {
                background-color: var(--color-primary);
                
                a {
                    text-decoration: none;
                }

                .sub-title {
                    color: var(--color-white);
                }
            }
        }
    }
}
