.page-events{
    
    // Landing
    .events__main-event{
        min-height: 60vh;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        h3{
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            font-family: var(--ff-secondary);
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            color: var(--color-white)
        }

        div{
            display: flex;
            justify-content: center;
            padding: 2rem;
        }
    }


    // Event Timeline
    .events__event-line {
        margin: 50px 60px;
        height: 4px;
        background-color: #ccc;
    }

    .events__progress {
        height: 100%;
        background-color: var(--color-primary);
        transition: width 1s;
    }

    .events__event-line-items{
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -12px;
        display: flex;
        justify-content: space-between;

        .item{
            position: relative;
            cursor: pointer;
            font-family: var(--ff-secondary);
            
            .item-subTitle {
                // display: none;
                position: absolute;

                opacity: 0;
            }
        }

        .item.current{
            .item-subTitle {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--color-primary);
                width: 100px;
                padding: 5px 10px;
                border-radius: 5px;
                text-align: center;
                z-index: 2;
                opacity: 1;
                transition: opacity 1s ease-in;
                color: var(--color-white);
            }
            
            .item-subTitle::before {
                content: '';
                width: 10px;
                height: 10px;
                background-color: var(--color-primary);
                display: block;
                position: absolute;
                top: 10px;
                margin-left: -2px;
                left: 50%;
                transform: rotate(-45deg) translateX(-50%);
                z-index: -5;
            }
        }

        .item::before{
            content: '';
            width: 20px;
            height: 20px;
            background-color: var(--color-tertiary);
            display: block;
            border-radius: 100%;
            transition: background-color 1.5s;
        }

        .item.active::before{
            background-color: var(--color-primary);
        }
    }

    // Event Container
    .events__event-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .event-image{
            width: 300px;
            height: 400px;
            background-color: var(--color-primary);
            justify-content: center;
            margin: 1rem;
            margin-bottom: 4rem;
        }
        .event-info{
            width: 50vw;
            min-width: 300px;
            padding: 1rem;
            justify-content: center;
            
            h3{
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            button{

            }
        }
    }

    // CrossRoads
    .crossroads{
        justify-content: center;
        align-content: center;
        p{
            font-size: 1.5rem;
            padding: 3rem;
        }
    }

    
}