.page-home {
  main {
    display: flex;
    flex-direction: column;
    padding: unset;
    margin: 0;
  }
  .container {
    section {
      padding-top: 64px;
      padding-bottom: 64px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .hero {
      height: 100%;
      .hero-info {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        height: 200px;
        padding: 25px;
        z-index: 20;
      }
      .button,
      button {
        width: 300px;
      }
      h1 {
        // width: 550px;
        letter-spacing: 0.5rem;
        text-shadow: 2px 4px 4px #89838e;
      }
    }

    .introduction {
      // background-color: var(--color-primary);
      width: 100%;
      flex-direction: row;
      // background: url("../../images/ARW Landing.mp4");

      .card.project-head-letter {
        width: 800px;
        height: auto;
        padding: 70px;
        overflow: hidden;
        p {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin-top: 16px;
          text-align: left;
        }
      }
      .introduction-content {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    .events {
      .event-buttons-container {
        display: block;
        button {
          margin-top: 12px;
          width: 280px;
        }
      }
      .cards-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .partners {
      // background-color: var(--color-primary);
      .cards-container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        align-items: flex-end;
        margin-top: 18px;
      }
      .sponsor-card{
        margin: 0px 15px;

        .sponsor-image-container {
          div{
            height: 100% !important;
            width: 100% !important;
            picture{
              img{
                object-fit: contain !important;
              }
            }
          }
        }

        h3{
          font-size: 2.5rem;
          color: var(--color-grey-dark-1);
        }
      }
      
      h1 {
        font-size: 3.5rem;
      }

      .socials {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 3rem 0;

        h2 {
          font-size: 3.5rem;
        }

        div {
          a {
            margin: 1rem 2rem;
            font-size: 3rem;
            color: var(--color-primary);
            transition: color 0.5s ease-in-out;
          }

          a:hover {
            color: var(--color-black);
          }
        }
      }
    }

    
  }
  .main-button {
    font-size: 2.5rem;
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
    transition: none;
  }
  .main-button:before,
  .main-button:after {
    border-color: var(--color-primary);
  }

  .heading::selection {
    background-color: var(--color-white);
    z-index: -2000;
  }

  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
      height: 40vh;
    }
  }
  @media only screen and (max-width: $bp-largest) {
    .partners .socials {
      p,
      a {
        font-size: 2rem !important;
      }
      span a {
        font-size: 3.2rem !important;
      }
    }
  }
  @media only screen and (max-width: $bp-large) {
    .events,
    .partners {
      .card {
        // margin-top: 48px !important;
      }
    }
    .introduction {
      video {
        margin-top: 48px;
      }
    }
    // .card.project-head-letter {
    //   padding: 40px !important;
    //   height: 550px !important;
    // }
  }
  @media only screen and (max-width: $bp-medium) {
    .container section {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .partners .cards-container {
      div {
        // margin-bottom: 48px;
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    .hero {
      .hero-info {
        width: 80%;
      }
    }
    // .card.project-head-letter {
    //   padding: 25px !important;
    //   height: 700px !important;
    // }
  }
  @media only screen and (max-width: $bp-smallest) {
    .hero {
      .hero-info {
        width: 70%;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        height: 250px !important;

        .main-button {
          width: 40%;
        }
      }
    }
    // .card.project-head-letter {
    //   height: 950px !important;
    // }
  }
}
