.page-home {
  .container {
    section {
      padding-top: 96px;
      padding-bottom: 96px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .hero {
      height: 100%;
      .hero-info {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        height: 200px;
        padding: 25px;
        z-index: 20;
      }
      .button,
      button {
        width: 300px;
      }
      h1 {
        // width: 550px;
        letter-spacing: 0.5rem;
        text-shadow: 2px 4px 4px #89838e;
      }
    }

    .introduction {
      // background-color: var(--color-primary);
      width: 100%;
      flex-direction: row;
      // background: url("../../images/ARW Landing.mp4");

      .card.project-head-letter {
        width: 800px;
        height: 600px;
        padding: 70px;
        p {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin-top: 16px;
          text-align: left;
        }
        // h2 {
        //   font-size: 1.75rem;
        //   letter-spacing: 0.5rem;
        //   font-family: var(--ff-tertiary);
        //   color: var(--color-primary);
        //   font-weight: normal;
        //   text-transform: uppercase;
        // }
      }
      .introduction-content {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    .events {
      .event-buttons-container {
        display: block;
        button {
          margin-top: 12px;
          width: 280px;
        }
      }
    }

    .partners {
      // background-color: var(--color-primary);
      h1 {
        font-size: 3.5rem;
      }

      .socials {
        padding-top: 24px;
        // align-self: flex-start;

        p {
          text-transform: uppercase;
          // letter-spacing: 0.2rem;
        }
        p,
        a {
          font-size: 1.5rem;
          font-family: var(--ff-tertiary);
          // margin-top: 24px;
          margin-bottom: 12px;
        }
        span {
          a {
            font-size: 2.5rem;
            color: var(--color-grey-dark-2);
            margin-right: 4px;
            margin-left: 4px;
            margin-bottom: 24px;
          }
          a:hover {
            color: var(--color-grey-dark-1);
          }
        }
      }
    }

    .cards-container {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 18px;
      div {
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }
  .main-button {
    font-size: 2.5rem;
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
    transition: none;
  }
  .main-button:before,
  .main-button:after {
    border-color: var(--color-primary);
  }

  .heading::selection {
    background-color: var(--color-white);
    z-index: -2000;
  }

  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
      height: 40vh;
    }
  }

  @media only screen and (max-width: $bp-large) {
    .events,
    .partners {
      .card {
        margin-top: 48px;
      }
    }
    .introduction {
      video {
        margin-top: 48px;
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    .introduction {
      video {
        width: 300px;
      }
    }
  }
}
