*,
*::before,
*::after {
  // normalising the css using cross browser reset
  margin: 0;
  padding: 0;

  // use inheritance where-ever possible
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    //width <= 1200?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    //width <= 900?
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  // // we can still include phone just to test our logic out. Here we've given the phone a smaller font size then before so it's okay to use it now.
  // @include respond(phone) {
  //   //width <= 600?
  //   font-size: 37.5%; //1rem = 6px, 6/16 = 37.5%
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  font-family: "BioRhyme", serif;
  font-weight: 200;
  

  //setting minimum height to 100vh
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 244, 244, 1) 64%
  );
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
 

  @include respond(tab-land) {
    font-size: 80%;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}


.blob {
  position: fixed;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  z-index: -1;
  animation: move 20s ease-in-out infinite;
  transform-origin: 50% 50%;
  overflow: hidden !important;
  height: 100vh !important;

  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }
}

main{
  margin-left: 5vw;
  margin-right: 5vw;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--ff-primary);
}

p, li{
  font-family: var(--ff-secondary);
}



// h1::selection {
//   background-color: yellow;
//   color: var(--color-white);
// }

// p::selection,
// li::selection,
// h2::selection,
// a::selection {
//   background-color: yellow;
// }

// a:hover {
//   cursor: pointer;
// }
