.main-button{
    padding: 0.5rem 4rem;
    font-family: var(--ff-primary);
    font-size: 2rem;
    color: var(--color-primary);
    letter-spacing: 0.4rem;
}

.event-button{
    padding: 0.5rem 2rem;
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    letter-spacing: 0.4rem;
}