.committee-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // flex-direction: row;
  }

  .footer-box {
    .sub-title {
      margin: 30px;
    }
    .assistant-heads {
      display: flex;
      flex-wrap: wrap;
      h1 {
        width: 50%;
      }
    }
  }
}
