.minimap {
    background: #eee;
    display: flex;
    box-sizing: border-box;
    
    .container {
        display: block;
        margin: 0 auto;
        height: auto;
        
        .building {
            -webkit-transition: .5s ease;
            transition: .5s ease;
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);
        }

        .building:hover {
            // -webkit-filter: grayscale(0);
            // filter: grayscale(0);
            transform: translateY(-10px);
        }

        .click-text {
            font-size: 18px; 
            letter-spacing: 5px;
        }
    }
}