.minimap {
    background: #eee;
    display: flex;
    box-sizing: border-box;
    
    .container {
        display: block;
        margin: 0 auto;
        height: auto;

        // .building:hover {
        //     animation: hshake 0.5s; 
        // }

        .building {
            transition: .5s ease;
        }

        .building:hover {
            -webkit-filter: blur(5px);
            transition: .5s ease;
        }

        .click-text {
            font-size: 18px; 
            letter-spacing: 5px;
        }
    }
}